<hr class="my-4 new">
<h1 class="display-6">FAQS</h1>
<button class="btn btn-block btn-light btn-my" style="text-align:left" type="button" data-toggle="collapse" data-target="#c1" aria-expanded="false" aria-controls="collapseExample">
    <b>I don't know how to create JSON file or I have some problems with it.</b>
</button>
<div class="collapse" id="c1">
    <div class="card card-body">
    <p>1. Please download our <a class="btn btn-success" href="{% url 'download_file' filename='sample.json' %}" download>Sample JSON File</a></p>
    <p>2. Open it in notepad and edit the content as per your code-review request.</p>
    <p>3. Save it and upload it in our tool to view predictions.</p> 
    </div>
</div>
<button class="btn btn-block btn-light btn-my" style="text-align:left" type="button" data-toggle="collapse" data-target="#c2" aria-expanded="false" aria-controls="collapseExample">
    <b>My project is not listed in CORMS.</b>
</button>
<div class="collapse" id="c2">
<div class="card card-body">
    <p>1. Add your Gerrit or GitHub project by just giving the <b>project url</b> information: <a href="{% url 'add_project' %}" type="_blank" type="button" class="btn btn-primary">Add Project</a></p>
    <p>2. Our system will fetch recent reviews of this project and will add it in the corms supported projects.</p>
    <p>(This process may take around 1 week depending upon the availability and testing of new data)</p>
</div>
</div>