<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">

    <style>
      body{
        font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
      }
      h1,h2,h3,h4,h5,h6{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      #regForm {
  background-color: #ffffff;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
h1{
  font-weight: 600;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}
form,.dataTables_wrapper{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dataTables_wrapper{
  margin-top: 1rem;
  background: #fff;
  padding:10px;
}
.new{ 
  border: 0; 
  height: 1vh; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
/* .newline { 
  border: 1px solid #8c8b8b; 
}  */
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
    </style>
    <title>CORMS</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CORMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Approach</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
  
        <!-- <div class="container"> -->
          <div class="jumbotron">
            <h1 class="display-6">CORMS: A GitHub and Gerrit based Hybrid Code Reviewer
              Recommendation Approach for Modern Code Review</h1>
            <p class="lead">Our proposed
              hybrid approach, CORMS, works on similarity analysis to compute
              similarities among file-paths, projects/sub-projects, author infor-
              mation, and prediction models to recommend reviewers based on
              the subject of the change. We conducted a detailed analysis on the
              widely used 20 projects of both Gerrit and GitHub to compare our
              results with RevFinder. Our results reveal that on average, CORMS,
              can achieve top-1, top-3, top-5, and top-10 accuracies, and Mean
              Reciprocal Rank (MRR) of 45.1%, 67.5%, 74.6%, 79.9% and 0.58 for
              the 20 projects, consequently improves the RevFinder approach by
              44.9%, 34.4%, 20.8%, 12.3% and 18.4%, respectively.</p>
            <!-- <hr class="my-4 new"> -->
            
  <form id="regForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <!-- <h2>CORMS Recommender</h2> -->
  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <h3>Step 1/3: Select Platform</h3>
    <hr class="newline">
    <p>Currently we are providing recommendations based on Gerrit</p>
    <input style="width:5%" type="radio" id="gerrit" checked name="platform" value="gerrit">
<label for="gerrit">Gerrit</label>
<input style="width:5%" type="radio" id="github" name="platform" value="github">
<label for="github">GitHub</label>
  </div> 
  
  <div class="tab">
    <h3>Step 2/3: Select Project</h3>
    <hr class="newline">
    <p>Currently we are providing recommendations based on following projects: </p>
    <label for="projects">Choose project:</label>
    <select name="projects" id="projects">
      <!-- <option value="openstack">Openstack</option> -->
    </select> 
  </div> 
  
  <div class="tab">
    <h3>Step 3/3: Upload JSON file</h3>
    <hr class="newline">
    <p><b>Format</b>: {"author": "author_id",
      "project": "project/suproject information",
      "files":[{"path":"file-path 1 info"},{"path":"file-path 2 info"}],
      "subject":"subject of the change information"
      }</p>
      
            <input style="width:50%" type="file" name="upload" accept=".JSON, .json">
    <!-- <input style="width:5%" type="radio" id="yes" onclick="handleClick(this);" name="manual" value="yes" oninput="this.className = ''">
<label for="yes">Yes</label>
<input style="width:5%" type="radio" id="no" name="manual" checked value="no" oninput="this.className = ''">
<label for="no">No</label> -->
    <!-- <p><input placeholder="E-mail..." oninput="this.className = ''"></p>
    <p><input placeholder="Phone..." oninput="this.className = ''"></p> -->
  </div>

  <div style="overflow:auto;">
    <div style="float:right;">
      <button class="btn btn-dark" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
  
  </form> 
          
          <hr class="my-4 new">
          <!--See File Uploaded-->
          <h1 class="display-6">RESULTS</h1>
            {% if results %}
            <h4 class="my-4"><b>CORMS</b> predicted the following Top-10 reviewers for your review based on 
              the data collected from <b style="text-transform: uppercase;">{{ platform }} {{ project }}</b> project.</h4>
              <h5>(Our models are trained based on the datasets collected in <b>December,2021</b>)</h5>
            <table id="table1" class="display" style="width:100%">
              <thead>
                  <tr>
                      <th>No</th>
                      <th>Score</th>
                      <th>Reviewer_ID</th>
                      <th>Name</th>
                      <th>Last Reviewed</th>
                      <th>Ongoing Reviews</th>
                      <!-- <th>EMAIL</th> -->
                  </tr>
              </thead>
              <tbody>
                  
                {% for key in results %}
                <tr>
                  {% for data in key %}
                  <td>{{ data }}</td>
                  {% endfor %}
            </tr>
                {% endfor %}           

                </tbody></table>
                {% else %}
                <p class="my-4">No code reviews added.</p>
                {% endif %}
              <!-- <a class="btn btn-primary my-4" href="/">Return to Homepage</a> -->
              <hr class="my-4 new">
              <h1 class="display-6">FILTERS</h1>
              {% if inactive %}
              <h4>We removed following <b style="color:red">inactive reviewers</b> from our results</h4>
              <table id="table2" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Score</th>
                        <th>Reviewer_ID</th>
                        <th>Name</th>
                        <th>Last Reviewed</th>
                        <th>Ongoing Reviews</th>
                        <!-- <th>EMAIL</th> -->
                    </tr>
                </thead>
                <tbody>
                    
                  {% for key in inactive %}
                  <tr>
                    {% for data in key %}
                    <td>{{ data }}</td>
                    {% endfor %}
              </tr>
                  {% endfor %}           
  
                  </tbody></table>
            {% else %}
            <p class="my-4">No inactive reviewers found.</p>
            {% endif %}

        </div>
        <!-- </div> -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
        
        
       <script>
           $(document).ready(function() {
    $('#table1').DataTable({"ordering": true,"lengthChange":false,"searching": true,"info": false,
    "paging":true,
    dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        
  });
    $('#table2').DataTable({"ordering": true,"lengthChange":true,"searching": true,"info": true,
    "paging":true
    // dom: 'Bfrtip',
        // buttons: [
        //     'copy', 'csv', 'excel', 'pdf', 'print'
        // ]
  });
} );

function getType() {
  var x = document.getElementById("gerrit").checked;
  var items;
  if (x) {
    items = ["openstack","android","qt","libreoffice","cloudera","chromium","opencord","go","eclipse"];
  } else {
    items = ["nodejs","shopify","joyent","twbs","bssw","nixcommunity","h5bp","fullstorydev","getsentry","renovatebot"]
  }
  var str = ""
  for (var item of items) {
    str += "<option>" + item + "</option>"
  }
  document.getElementById("projects").innerHTML = str;
}

          var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if(n == 1){
    getType();
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Predict Reviewers";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}
function handleClick(myRadio) {
}
function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form... :
  if (currentTab >= x.length) {
    //...the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  count=0;
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false:
      valid = false;
    }
    if(y[i].type == 'radio' && !(y[i].checked)){
      // console.log("yes");
      count++;
      // y[i].className += " invalid";
      // and set the current valid status to false:
      // valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid || count==1) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}

        </script>
      </body>
      </html>