<!DOCTYPE html>
<html lang="en">
  {% include "headers.html" %}
  <body>
    {% include "navbar.html" %}
    <div class="jumbotron">
      {% include "intro.html" %}
      {% include "form.html" %}
      {% if results %}
        {% include "results.html" %}
        <hr class="my-4 new">
        <h1 class="display-6">FILTERS</h1>
        {% if inactive %}
          {% include "results.html" %}
        {% else %}
          <p class="my-4">No inactive reviewers found.</p>
        {% endif %}
      {% endif %}
      {% include "feedback.html" %}
      {% if results %}
        {% include "feedback_form.html" %}
      {% endif %}
      {% include "faq.html" %}
    </div>
    {% include "scripts.html" %}
  </body>
</html>